absl-py==0.7.0
amqp==2.4.0
asn1crypto==0.24.0
astor==0.7.1
attrs==18.2.0
audioread==2.1.6
beautifulsoup4==4.7.1
billiard==3.5.0.5
boto==2.49.0
boto3==1.9.104
botocore==1.12.104
bs4==0.0.1
bz2file==0.98
celery==4.2.1
certifi==2018.8.24
cffi==1.11.5
cftime==1.0.3.4
chardet==3.0.4
cliff==2.14.0
cmd2==0.9.10
colorama==0.4.1
configobj==5.0.6
cryptography==2.4.2
cycler==0.10.0
decorator==4.3.0
Django>=2.2.5
dnspython==1.16.0
docutils==0.14
et-xmlfile==1.0.1
eventlet==0.24.1
ffmpeg==1.4
future==0.17.1
gast==0.2.2
gensim==3.7.1
gevent==1.3.7
graphviz==0.10.1
greenlet==0.4.15
grpcio==1.18.0
h5py==2.9.0
idna==2.8
imageio==2.4.1
jdcal==1.4
jmespath==0.9.4
joblib==0.13.2
json-tricks==3.12.2
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
kombu==4.2.2.post1
ld==0.5.0
liac-arff==2.4.0
librosa==0.6.3
llvmlite==0.27.1
mock==2.0.0
monotonic==1.5
msgpack-python==0.5.6
netCDF4==1.4.2
numba==0.42.1
numexpr==2.6.8
numpy==1.15.4
opencv-python==3.4.4.19
openpyxl==2.5.12
pandas==0.23.4
patsy==0.5.1
pbr==5.1.2
pika==0.13.0
Pillow==5.3.0
pipenv==2018.7.1
prettytable==0.7.2
protobuf==3.15.0
psutil==5.4.8
PsychoPy==1.90.3
psycopg2==2.7.7
pycparser==2.19
pydot==1.4.1
pydub==0.23.1
pygame==1.9.4
pyglet==1.3.2
pyobjc-core==5.1.2
pyobjc-framework-Cocoa==5.1.2
pyobjc-framework-Quartz==5.1.2
PyOpenGL==3.1.0
pyOpenSSL==18.0.0
pyosf==1.0.5
pyparallel==0.2.2
pyparsing==2.3.0
pyperclip==1.7.0
Pypubsub==4.0.0
PyQt5==5.11.3
PyQt5-sip==4.19.13
pyserial==3.4
PySoundFile==0.9.0.post1
python-bidi==0.4.0
python-dateutil==2.7.5
pytz==2018.7
PyYAML==5.1
pyzmq==17.1.2
requests==2.21.0
resampy==0.2.1
s3transfer==0.2.0
scikit-learn==0.20.3
scipy==1.2.0
six==1.12.0
sklearn==0.0
smart-open==1.8.0
sounddevice==0.3.12
SoundFile==0.10.2
soupsieve==1.8
statsmodels==0.9.0
stevedore==1.30.0
tables==3.4.4
tensorboard==1.12.2
tensorflow==1.13.0rc2
tensorflow-estimator==1.13.0rc0
termcolor==1.1.0
tqdm==4.28.1
urllib3>=1.24.2
vine==1.2.0
virtualenv==16.0.0
virtualenv-clone==0.3.0
wcwidth==0.1.7
Werkzeug>=0.14.2
wxPython==4.0.3
xarray==0.10.0
xlrd==1.2.0
youtube-dl==2019.4.17
zmq==0.0.0
