{% extends "base_generic.html" %}

{% block content %}

    {% if form.errors %}
        <div class="col-md-12 p-2">
            <p>Your username and password didn't match. Please try again.</p>
        </div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <div class="col-md-12 p-2">
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
            </div>
        {% else %}
            <p class="col-md-12 p-2">Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="form-group col-md-12">
            <label class="col-md-12">{{ form.username.label_tag }}</label>
            <p class="pl-2">{{ form.username }}</p>
        </div>
        <div class="form-group col-md-12">
            <label class="col-md-12">{{ form.password.label_tag }}</label>
            <p class="pl-2">{{ form.password }}</>
        </div>

        <div>
            <button class="btn btn-outline-success ml-4 my-sm-2 bg-light text-dark btn-outline-dark"
                    type="submit">Login
            </button>
            <input type="hidden" name="next" value="{{ next }}"/>
        </div>
    </form>

    <div class="row">
    <p class="p-4"><a href="{% url 'password_reset' %}">Lost password?</a></p>
    <p class="p-4"><a href="{% url 'signup' %}">Sign up</a></p>
    </div>

{% endblock %}