<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Song Recommender</title>{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<!-- Menu -->
<div class="container">
    {% block sidebar %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top: 2%">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'recommended_songs' %}">Recommended</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'my_lists' %}">My Lists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'addSong' %}">Add song</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'all_songs' %}">All songs</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Distance type</a>
                        <div class="dropdown-menu">
                            <form class="form-inline my-2 my-lg-0 mr-2" type="get" action="/change_distance/">
                                <input type="hidden" name="next" value="{{ request.path }}">{% if user.profile.user_selected_distance_type == "PCA_TF-idf" %}
                                    <button color="bg-ligth" class="dropdown-item alert-secondary" type="submit" name="PCA_TF-idf">PCA on TF-idf</button>
                                    <button class="dropdown-item" type="submit" name="W2V">W2V</button>
                                    <button class="dropdown-item" type="submit" name="PCA_MEL">PCA on mel-spectrograms</button>
                                    <button class="dropdown-item" type="submit" name="GRU_MEL">GRU network on mel-spectrograms</button>
                                    <button class="dropdown-item" type="submit" name="LSTM_MFCC">LSTM network on MFCCs</button>
                                {% elif user.profile.user_selected_distance_type == "W2V" %}
                                    <button class="dropdown-item" type="submit" name="PCA_TF-idf">PCA on TF-idf</button>
                                    <button class="dropdown-item alert-secondary" type="submit" name="W2V">W2V</button>
                                    <button class="dropdown-item" type="submit" name="PCA_MEL">PCA on mel-spectrograms</button>
                                    <button class="dropdown-item" type="submit" name="GRU_MEL">GRU network on mel-spectrograms</button>
                                    <button class="dropdown-item" type="submit" name="LSTM_MFCC">LSTM network on MFCCs</button>
                                {% elif user.profile.user_selected_distance_type == "LSTM_MFCC" %}
                                    <button class="dropdown-item" type="submit" name="PCA_TF-idf">PCA on TF-idf</button>
                                    <button class="dropdown-item" type="submit" name="W2V">W2V</button>
                                    <button class="dropdown-item" type="submit" name="PCA_MEL">PCA on mel-spectrograms</button>
                                    <button class="dropdown-item" type="submit" name="GRU_MEL">GRU network on mel-spectrograms</button>
                                    <button class="dropdown-item alert-secondary" type="submit" name="LSTM_MFCC">LSTM network on MFCCs</button>
                                {% elif user.profile.user_selected_distance_type == "PCA_MEL" %}
                                    <button class="dropdown-item" type="submit" name="PCA_TF-idf">PCA on TF-idf</button>
                                    <button class="dropdown-item" type="submit" name="W2V">W2V</button>
                                    <button class="dropdown-item alert-secondary" type="submit" name="PCA_MEL">PCA on mel-spectrograms</button>
                                    <button class="dropdown-item" type="submit" name="GRU_MEL">GRU network on mel-spectrograms</button>
                                    <button class="dropdown-item" type="submit" name="LSTM_MFCC">LSTM network on MFCCs</button>
                                {% elif user.profile.user_selected_distance_type == "GRU_MEL" %}
                                    <button class="dropdown-item" type="submit" name="PCA_TF-idf">PCA on TF-idf</button>
                                    <button class="dropdown-item" type="submit" name="W2V">W2V</button>
                                    <button class="dropdown-item" type="submit" name="PCA_MEL">PCA on mel-spectrograms</button>
                                    <button class="dropdown-item alert-secondary" type="submit" name="GRU_MEL">GRU network on mel-spectrograms</button>
                                    <button class="dropdown-item" type="submit" name="LSTM_MFCC">LSTM network on MFCCs</button>
                                {% endif %}
                            </form>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0 mr-2" type="get" action="/search_results/">
                    <input class="form-control mr-sm-2 bg-light text-black" type="text" id="search_box" name="q" placeholder="Search"
                           aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0 bg-light text-dark btn-outline-dark"
                            type="submit">Search</button>
                </form>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">{{ user.get_username }}</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'logout' %}?next={{request.path}}">Log out</a>
                            <a class="dropdown-item" href="{% url 'delete_account' %}">Delete account</a></a>
                            <a class="dropdown-item" href="{% url 'get_about' %}">About this application</a></a>

                        </div>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'login' %}?next={{request.path}}">Login</a>
                    </li>
                    {% endif %}
                    </li>

                </ul>
            </div>
        </nav>
    {% endblock %}
    {% block content %}{% endblock %}
</div>

<!-- Spodek co je vsude -->
<div class="container fixed-bottom">
    <div class="row">

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
{#<script src="{% static 'js/bootstrap.min.js' %}"></script>#}
</body>
</html>