{% extends "base_generic.html" %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="row m-2">
            <div class="form-group col-md-12">
                {{ form.song_name.errors }}
                <label class="col-md-12" for="{{ form.song_name.id_for_label }}">Song name:</label>
                <div class="pl-2"> {{ form.song_name }} </div>
            </div>
            <div class="form-group col-md-12 align-l">
                {{ form.artist.errors }}
                <label class="col-md-12" for="{{ form.artist.id_for_label }}">Artist:</label>
                <div class="pl-2"> {{ form.artist }} </div>
            </div>
            <div class="form-group col-md-12">
                {{ form.text.errors }}
                <label class="col-md-12" for="{{ form.text.id_for_label }}">Song lyrics:</label>
                <div class="pl-2"> {{ form.text }} </div>
            </div>
            <div class="form-group col-md-12">
                {{ form.link.errors }}
                <label class="col-md-12" for="{{ form.link.id_for_label }}">Youtube link to the song</label>
                <div class="pl-2"> {{ form.link }} </div>
            </div>
            <div class="row mt-4 col-md-12">
            <button class="btn btn-outline-success pl-3 col-md-2 ml-md-4  bg-light text-dark btn-outline-dark"
                    type="submit">Add
            </button>
            </div>
        </div>
    </form>

{% endblock %}