{% extends "base_generic.html" %}


{% block content %}
    <div class="row">
        <h1 class="col-md-3">My lists:</h1>
    </div>
    <div class="row">
        <button class="btn btn-outline-success ml-3 mt-3 bg-light text-dark btn-outline-dark"
                    type="submit"><a href="{% url 'list_create' %}">Create new list</a>
        </button>
    </div>
    <div class="row">
        {% if played_songs %}
            <div class="col-md-6 p-3">
                <ul class="list-group">
                    <a class="p-3" href="{% url 'recommended_songs' %}"> Played </a>
                    {% for played_song in played_songs %}
                        <li class="list-group-item">
                            <a href="{% url 'song_detail' played_song.pk %}">{{ played_song.song_id1 }}</a>
                        </li>
                    {% endfor %}
                    <li class="list-unstyled">
                        <a  class="btn btn-outline-success col-md-6 bg-light text-dark btn-outline-dark mt-2" href="{% url 'recommended_songs' %}">Show more</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 p-3">
                <ul class="list-group">
                    <p class="p-2"> Songs similar to your played songs </p>
                    {% for nearby_song in nearby_songs %}
                    <li class="list-group-item">
                        <a href="{% url 'song_detail' nearby_song.song_id.pk %}">{{ nearby_song.song_id }}</a>
                    </li>
                    {% endfor %}
                    <li class="list-unstyled">
                        <a  class="btn btn-outline-success col-md-6 bg-light text-dark btn-outline-dark mt-2" href="{% url 'recommended_songs' %}">Show more</a>
                    </li>
                </ul>
            </div>
        {% else %}
            <div class="col-md-6">
                <ul class="list-group">
                    <a class="p-3" href="">Played</a>
                    <li class="list-unstyled">
                        <p class="p-0 m-0">You have not played any songs yet</p>
                    </li>
                </ul>
            </div>
        {% endif %}

    </div>
    {% if moje_listy %}
        {% for l in moje_listy %}
            <div class="row">
                {% if l.songs.all %}
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-unstyled float-lg-right mt-4">
                                <a class="col-md-2" href="{% url 'list_detail' l.pk %}">{{ l.name }}</a>
                                <a class="btn btn-outline-success col-md-1 bg-light text-dark btn-outline-dark float-center mb-2"
                                   type="submit" href="{% url 'list_delete'  l.pk %}">-</a>
                            </li>
                            {% for song in l.songs.all %}
                                <li class="list-group-item">
                                    <a href="{% url 'song_detail' song.pk %}"> {{ song }} </a>
                                </li>
                            {% endfor %}
                            <li class="list-unstyled">
                                <a  class="btn btn-outline-success col-md-6 bg-light text-dark btn-outline-dark mt-2 mb-3" href="{% url 'list_detail' l.pk %}">Show more</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group mt-3">
                            <p class="m-3">Here are songs similar to {{ l.name }} </p>
                            {% for nearby_song in l.nearby_songs.all|slice:"0:10" %}
                                <li class="list-group-item">
                                    <a href="{% url 'song_detail' nearby_song.pk %}"> {{ nearby_song }} </a>
                                </li>
                            {% endfor %}
                            <li class="list-unstyled">
                                <a  class="btn btn-outline-success col-md-6 bg-light text-dark btn-outline-dark mt-2 mb-3" href="{% url 'list_detail' l.pk %}">Show more</a>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    <div class="col-md-6">
                        <ul class="list-group">
                            <a class="p-3" href="{% url 'list_detail' l.pk %}">{{ l.name }}</a>
                            <li class="list-unstyled">
                                <p class="p-0 m-0">This list is empty</p>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        {% endfor %}

    {% else %}
        <p>You have not created any list</p>
        <button class="btn btn-outline-success mb-4 mr-4 col-md-6  bg-light text-dark btn-outline-dark"
                    type="submit"><a href="{% url 'list_create' %}">Create new list</a>
        </button>
    {% endif %}
{% endblock %}