{% extends "base_generic.html" %}

{% block content %}
    <h1>My played songs:</h1>
        <div class="row">
        {% if played_songs %}
        <div class="col-md-6 p-3">
                <ul class="list-group">
                    <p class="p-2"> Songs recommended for you </p>
                    {% for nearby_song in nearby_songs %}
                    <li class="list-group-item">
                        <a href="{% url 'song_detail' nearby_song.song_id.pk %}">{{ nearby_song.song_id }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6 p-3">
                <ul class="list-group">
                    <a class="p-3" href=""> Played </a>
                    {% for played_song in played_songs %}
                        <li class="list-group-item">
                            <a href="{% url 'song_detail' played_song.song_id1.pk %}">{{ played_song.song_id1.song_name }} - {{ played_song.song_id1.artist }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        {% else %}
            <div class="col-md-6">
                <ul class="list-group">
                    <a class="p-3" href="">Played</a>
                    <li class="list-unstyled">
                        <p class="p-0 m-0">You have not played any songs yet</p>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>

    <div class="col-md-6 float-md-right">
    <div class="text-right" align="right">
    {% if is_paginated %}

        <ul class="pagination text-center">
            {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if i < end_page and i > start_page %}
                    {% if page_obj.number == i %}
                      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                      <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>

    {% endif %}
    </div>
{% endblock %}