{% extends "base_generic.html" %}

{% block content %}
    <h1>My played songs:</h1>
        <div class="row">
        {% if played_songs %}
        <div class="col-md-6 p-3">
                <ul class="list-group">
                    <p class="p-2"> Songs recommended for you </p>
                    {% for nearby_song in nearby_songs %}
                    <li class="list-group-item">
                        <a href="{% url 'song_detail' nearby_song.song_id.pk %}">{{ nearby_song.song_id.song_name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6 p-3">
                <ul class="list-group">
                    <a class="p-3" href=""> Played </a>
                    {% for played_song in played_songs %}
                        <li class="list-group-item">
                            <a href="{% url 'song_detail' played_song.pk %}">{{ played_song.song_id1.song_name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        {% else %}
            <div class="col-md-6">
                <ul class="list-group">
                    <a class="p-3" href="">Played</a>
                    <li class="list-unstyled">
                        <p class="p-0 m-0">You have not played any songs yet</p>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>

{% endblock %}