.nav.nav-pills.nav-fill {
	margin-top: 0px;
	padding: 0;
    background: beige;
    color: #75cdff;
    list-style: none;
}

ul.list-group {
    float: left;
}

.zaver {
    margin-left: 5px ;
    font-size: 10pt;
    color: #fff392;
}

